*.iml
*/.idea/*
*/out/*

bin/*
build/*
include/*
dependencies/*
lib/*
man/*
slice/*
config/*
ut_out/*
ut_test/*
share/*

# java ignores
*.class

# Package Files #
*.jar
*.war
*.ear


# other files
Merge_Dictionaries
DM_Server
.vagrant
Merge_Topic_Counts
formatter
learntopics

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.d
LICENSE
